<mat-card class="dashboard-card">
  <mat-card-content>
    <p><b>
      Best age to visit?
    </b></p>
    <ul>
      <li>
        Animal lovers of all ages are welcome.
      </li>
    </ul>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <p><b>Which animals can be touched and fed?</b></p>
    <ul>
      <li>
        Almost all animals that can walk up to the fence are approachable, unless signs say otherwise.
      </li>
      <li>
        Some love to be touched, but cannot be fed.
      </li>
      <li>
        Some love to be fed, but not touched.
      </li>
      <li>
        The animals can be fed by hand, spoon, or special feed tubes.
      </li>
      <li>
        Feeding directly from the feed cup is discouraged.
      </li>
      <li>
        Hand washing stations are near the front of the park.
      </li>
    </ul>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <p><b>
      Are reservations required for large groups?
    </b></p>
    <ul>
      <li>
        School tours and field trips must be scheduled in advance.
      </li>
      <li>
        <b>Call:</b> (636) 745-3031 to schedule a group visit.
      </li>
    </ul>
  </mat-card-content>
</mat-card>
