<!-- <carousel>
  <slide *ngFor="let image of images$|async">
    <app-secured-image [src]="image.images.original.url"></app-secured-image>
  </slide>
</carousel> -->


<!-- <mat-card>
  <mat-card-content>
    <div class="safari-carousel">
      <mat-carousel
        #matCarousel
        [timings]="timings"
        [autoplay]="autoplay"
        [interval]="interval"
        [loop]="loop"
        [hideArrows]="hideArrows"
        [hideIndicators]="hideIndicators"
        [color]="color"
        [maxWidth]="maxWidth"
        [proportion]="proportion"
        [useKeyboard]="useKeyboard"
        [useMouseWheel]="useMouseWheel"
        [orientation]="orientation"
        [slides]="slides"
        (change)="onChange($event)"
      >
        <mat-carousel-slide
          #matCarouselSlide
          *ngFor="let slide of slidesList; let i = index"
          image="assets/images/zebra.jpg"
          [overlayColor]="overlayColor"
          [hideOverlay]="hideOverlay"
        >
        </mat-carousel-slide>
      </mat-carousel>
    </div>
  </mat-card-content>
</mat-card> -->
