<mat-card class="dashboard-card">
  <mat-card-content>
    <p><b>Last available entry is 30 minutes prior to closing.</b></p>
    <p><b>Average journey through the park is 1-2 hours.</b></p>
    <p><b>The Sunday after St. Patrick's Day - Memorial Day</b></p>
    <ul>
      <li>Monday: Closed</li>
      <li>Tuesday: Closed</li>
      <li>Wednesday: Closed</li>
      <li>Thursday: 9AM-5PM</li>
      <li>Friday: 9AM-5PM</li>
      <li>Saturday: 9AM-5PM</li>
      <li>Sunday: 11AM-5PM</li>
    </ul>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <p><b>Memorial Day - Labor Day</b></p>
    <ul>
        <li>Monday: 9AM-5PM</li>
        <li>Tuesday: Closed</li>
        <li>Wednesday: Closed</li>
        <li>Thursday: 9AM-5PM</li>
        <li>Friday: 9AM-5PM</li>
        <li>Saturday: 9AM-5PM</li>
        <li>Sunday: 11AM-5PM</li>
      </ul>
  </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-content>
      <p><b>Labor Day - the Sunday After Halloween</b></p>
      <ul>
          <li>Monday: Closed</li>
          <li>Tuesday: Closed</li>
          <li>Wednesday: Closed</li>
          <li>Thursday: 9AM-5PM</li>
          <li>Friday: 9AM-5PM</li>
          <li>Saturday: 9AM-5PM</li>
          <li>Sunday: 11AM-5PM</li>
        </ul>
    </mat-card-content>
  </mat-card>
