<mat-card class="dashboard-card">
  <mat-card-content>
    <!-- <p><b>Skip the line and purchase tickets online!</b></p> -->
    <p><b>All options are available for purchase on the day of your visit.</b></p>
    <p><b>General Admission:</b></p>
    <ul>
      <li>Adults: $8</li>
      <ul>
        <li>Ages 2+</li>
        <li>Sales tax included</li>
      </ul>
      <li>Children: FREE</li>
      <ul>
        <li>Ages 2-under</li>
      </ul>
    </ul>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <p><b>Season Passes</b></p>
    <p>Season Passes are non-transferable from person to person unless under the same household.</p>
    <ul>
      <li>Adults: $35</li>
      <li>Group of Three: $95</li>
      <li>Group of Four: $130</li>
    </ul>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <p><b>Small Feed Cup</b></p>
    <ul>
      <li>
        8 oz plastic souvenir cup
        <br/> with Big Joel's Safari logo
      </li>
      <li>$2 per cup</li>
      <li>Half Price refills</li>
    </ul>
    <p><b>Large Feed Cup</b></p>
    <ul>
      <li>
        20 oz plastic souvenir cup
        <br/> with Big Joel's Safari logo
      </li>
      <li>$4 per cup</li>
      <li>Half Price refills</li>
    </ul>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <p><b>Paraqeet Encounter</b></p>
    <p>Open all day from Memorial Day weekend - Labor Day weekend <br/>*Weather permitting</p>
    <ul>
      <li>
        Feed our many fine-feathered friends in the
        open aviary.</li>
      <li>
        Many will actually land on your feeding stick, your
        hand, or even your head!
      </li>
      <li>$2 per feeding stick</li>
    </ul>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <p><b>Camel Rides</b></p>
    <p>Open all day from Memorial Day weekend - Labor Day weekend <br/>*Weather permitting</p>
    <ul>
      <li>
        For ages 2 years and older.
      </li>
      <li>
        More than one person may ride with a weight limit of 250 lbs.
      </li>
      <li>
        Helmet not provided.
      </li>
      <li>$5 per rider</li>
    </ul>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <p><b>Pony and Donkey Rides</b></p>
    <p>Open all day from Memorial Day weekend - Labor Day weekend <br/>*Weather permitting</p>
    <ul>
      <li>
        For ages 2 years and older with a weight limit of 80 lbs.
      </li>
      <li>
        Younger riders may require a parent to walk along side the pony.
      </li>
      <li>
        Helmet not provided.
      </li>
      <li>$5 per rider</li>
    </ul>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <p><b>Wagon Rides</b></p>
    <p>Open all day from Labor Day weekend - the Sunday after Halloween <br/>*Weather permitting</p>
    <ul>
      <li>
        Autumn is park owners, Big Joel and Mimi's favorite time of the year!
      </li>
      <li>
        They love to decorate for the fall season and especially for Halloween, to transform Big Joel's Safari into Big
        Joel's Spooky Safari!
      </li>
      <li>The wagon tour goes through the park's large field, which is home to:
      </li>
      <ul>
        <li>Deer</li>
        <li>Elk</li>
        <li>Bison</li>
        <li>Watusi cattle</li>
        <li>As well as the many ducks and geese</li>
      </ul>
      <li>During the tour, the ride operator will provide facts about the animal residents and the history of Big Joel's
        Safari!
      </li>
      <li>$2.50 per rider</li>
    </ul>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <p><b>Education Station</b></p>
    <p>Open on weekends in the Spring and Fall, and everyday in the Summer.</p>
    <ul>
      <li>
        Learn some cool facts about animals and the park.
      </li>
      <li>Touch animal artifacts, such as:</li>
      <ul>
        <li>Ostrich eggs</li>
        <li>Deer antlers</li>
        <li>And more!</li>
      </ul>
      <li>
        Touch an animal ambassador, such as a:
        <ul>
          <li>Snake</li>
          <li>Alligator</li>
          <li>Or other animal friends!</li>
        </ul>
      <li>FREE</li>
    </ul>
  </mat-card-content>
</mat-card>
