<mat-card class="dashboard">
  <mat-card-content>
  <p><b>Now accepting applications for those
    <br/>
    seeking a unique employment
    <br/>
    opportunity that includes:</b></p>
    <ul>
      <li>Hard work</li>
      <li>Rewarding animal encounters</li>
      <li>The chance to work on a great team!</li>
    </ul>
    <p>
    For energetic, responsible, and service
    <br/>
    oriented applicants:
  </p>
  <button mat-flat-button (click)="goJobApp()">
    <b>apply here</b>
  </button>

  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <p><b>Seasonal employment lasts from
    <br/>
    the Sunday after St Patrick's Day to the Sunday after Halloween
    <br/>
    <br/>
    All employees are expected to:</b></p>
    <ul>
      <li>Work weekdays</li>
      <li>Some weekends</li>
      <li>Holidays and special events</li>
    </ul>
    <p><b>All candidates must:</b>
    </p>
    <ul>
      <li>Be at least 16 years of age</li>
      <li>Have reliable transportation</li>
      <li>Reliable means of communication</li>
      <li>Pass a background check and drug test</li>
    </ul>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <p><b>Safari Ambassador</b></p>
    <ul>
      <b>Duties:</b>
      <li>
        Educating, guiding, and supervising field trip
        groups throughout certain areas of the park
      </li>
      <li>
        Assisting and supervising zoo guests
        with light-duty zoo maintenance
      </li>
      <li>Serving the public with basic information,
        directions, and park history</li>
      <li>Helping to enforce park rules and protocol</li>
      <li>Helping with special events and new exhibit areas</li>
      <li>Light cleaning and zoo maintenance detail</li>
    </ul>
    <ul><b>Qualifications:</b>
      <li>Prior customer service experience is preferred</li>
      <li>
        Must have a great attention to detail and be able to relay new
        information quickly
      </li>
    </ul>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <p><b>Safari Team Member</b></p>
    <ul><b>Duties:</b>
      <li>Assisting with all aspects of day-to-day zoo operations</li>
      <li>Interacting with visitors</li>
      <li>Cleaning animal pens and areas</li>
      <li>Feeding and watering</li>
      <li>Organizing the feed and barn areas</li>
      <li>Assisting with preparation work</li>
      <li>Cleaning restrooms and sanitization areas</li>
      <li>Stocking supplies and gift shop products</li>
      <li>Lawn and ground maintenance</li>
      <li>Working on minor maintenance projects</li>
      <li>Working a cash register</li>
      <li>Handling animals</li>
      <li>Entry level animal enclosure maintenance</li>
      <li>
        Assisting Lead Safari Team Members and Supervisors
        on other tasks as assigned
      </li>
    </ul>
    <ul><b>Qualifications:</b>
      <li>Experience working with animals is preferred</li>
      <li>Prior customer service experience is preferred</li>
      <li>Must be able to take direction and work independently</li>
      <li>Must have flexible work hours</li>
      <li>
        Must be able to stand for long hours and be able to walk the Zoo grounds for several
        hours at a time
      </li>
      <li>
        Must be able to handle outdoor temperature extremes in all
        seasons
      </li>
      <li>Must be able to lift up to 50 lbs</li>
    </ul>
</mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <p><b>Lead Safari Team Member</b></p>
    <p>Full Time Position</p>
    <ul><b>Duties:</b>
      <li>Assisting with all aspects of day-to-day zoo operations</li>
      <li>Interacting with and supervising visitors</li>
      <li>Cleaning animal pens and areas</li>
      <li>Feeding and watering</li>
      <li>Organizing the feed and barn areas</li>
      <li>Assisting with the preparation work</li>
      <li>Cleaning restrooms and sanitization areas</li>
      <li>Stocking supplies and the gift shop</li>
      <li>Lawn and ground maintenance</li>
      <li>Working on minor maintenance projects</li>
      <li>Working a cash register</li>
      <li>Handling animals</li>
      <li>Assisting the Supervisor on other tasks as assigned</li>
      <li>Animal diet preparations</li>
      <li>Intermediate level animal species enclosure maintenance</li>
      <li>Animal handling and training</li>
      <li>Other high priority tasks</li>
    </ul>
    <ul><b>Qualifications:</b>
      <li>Working experience with animals and animal handling is preferred</li>
      <li>Prior customer service experience is preferred</li>
      <li>Must be able to take direction and work independently</li>
      <li>Must have flexible work hours</li>
      <li>Must be able to walk the Zoo grounds and stand for several hours at a time</li>
      <li>Must be able to handle outdoor weather extremes in all seasons</li>
      <li>Must be able to lift up to 50 lbs</li>
      <li>Have camel and pony handling experience or willingness to learn</li>
      <li>Lead Safari Team Members have the potential to work during the off season</li>
      <li>Individuals that are 18 years or older have the potential to move
          up to Lead Safari Team Member</li>
      <li>Have a High School Diploma or equivalent</li>
    </ul>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <p><b>Email:</b></p>
      <p><a href="bigjoelsafari@bigjoelsafari.com">bigjoelsafari@bigjoelsafari.com</a></p>
      <ul>
        <li>Subject line: "Bigjoelsafari Hire"</li>
        <li>Mention relevant position/positions</li>
        <li>Cover letter</li>
        <li>Resume</li>
        <li>2 references</li>
      </ul>
    <p>A confirmation email will be sent in the days following.</p>
    <p>We will request to schedule an interview if any opportunities are available.</p>
    <p>Interviews will be conducted around mid-February.</p>
  </mat-card-content>
</mat-card>
