<mat-card class="dashboard-card">
  <mat-card-content>
    <p><b>Please note the following policies:</b></p>
    <ul>
      <li>The park is partially wheelchair accessible.</li>
      <li>
        There are no paved walkways with only natural and gravel terrain.
      </li>
      <li>Wheelchair rentals are not available at this time.</li>
      <li>Shirt and shoes are required.</li>
      <li>Family-friendly attire is required. No profanity or graphic images.
      <li>Swimsuits are prohibited</li>
      <li>
        Children under the age of 12 must be accompanied by an adult or have
        an adult chaperone present at the Zoo (field trips, etc.).
      <li>
        Big Joel's Safari staff may take photographs of your party during
        your visit to the park. These photos may be used by Big Joel's Safari for both
        internal and public publications, including the Big Joel's Safari website and social media pages.
      <li>
        Distribution of any advertisement, circular or handbill, or solicitaion of
        funds or pledges of contributions within Big Joel's Safari property is prohibited.
      </li>
      <li>
        Personal video and photography are permitted, provided they don't interrupt
        the visitor experience for others.
      </li>
      <li>Student or commercial filming must be approved in advance.</li>
      <li>Strollers and other personal belongings are left unattended at the owner's risk.</li>
    </ul>
    <p><b>
        Tickets are nonrefundable. Big Joel's Safari is not responsible for refunding
        purchases in the event of inclement weather, attraction wait times, early closing times,
        or special events.
      </b></p>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <p>For the safety and welfare of the animals and visitors, <b>the following are prohibited:</b></p>
    <ul>
      <li>Smoking is prohibited, except in designated smoking areas</li>
      <li>
        Dogs or other pets. Service animals are permitted. Dogs whose sole function is to provide comfort
        or emotional support do not qualify as service animals under the Americans with
        Disabilites Act (ADA) and are not permitted inside the Zoo.
      <li>Entering non-public areas</li>
      <li>Firearms and weapons (even with a concealed carry endorsement)
      <li>Balloons</li>
      <li>Bicycles (racks are available at the entrance)</li>
      <li>Segways, hoverboards</li>
      <li>Skates, skateboards, roller blades, or scooters</li>
      <li>Loud radios</li>
      <li>Lasers</li>
      <li>Drones</li>
      <li>Swim suits</li>
      <li>Profanity on clothing</li>
    </ul>
    <p><b>Your cooperation is appreciated.</b></p>

    <p><b>
        The rules and policies listed here are not intended to serve as an exhaustive list
        of all rules and policies. Contact us at (636) 745-3031 for more information.
      </b></p>
  </mat-card-content>
</mat-card>
