<mat-card class="dashboard-card">
  <mat-card-content>
    <p><b>Established July, 2012
      </b></p>
    <p>The "zoo made for you" is the premier animal-based attraction in the area.
      The Clinger family are continually improving and adding to their park every year.
      The farm is home to animals such as:</p>
    <ul>
      <li>Majestic bison</li>
      <li>Watusi cattle</li>
      <li>Zebu</li>
      <li>Aoudads</li>
      <li>Camels</li>
      <li>Zebras</li>
      <li>Llamas</li>
      <li>African porcupines</li>
      <li>Ostriches</li>
      <li>Emus</li>
      <li>Parrots</li>
      <li>Reptiles</li>
      <li>A variety of deer</li>
      <li>Elk</li>
      <li>Antelope</li>
      <li>And more!</li>
    </ul>
    <p>There are always new-born animals, new species, exhibits, and things to do.</p>
    <p>
      Besides visiting with the local animal residents,
      the park offers a change of pace away from the hustle and bustle of the city with a
      family-oriented and educational experience that will leave lasting memories.</p>
    <p>
      Come see what thousands of visitors are talking about.
      This is not your typical petting zoo and is well worth the trip.</p>
    <p>
      There is always something new to see and learn about.
      We aim to make your experience a great one. The animals love the attention too!</p>

    <p><b>Hope to see you there!<br />
        <i>Big Joel and MiMi</i></b></p><br />

    <p>USDA Licensed and Insured Facility.<br/>
      Recognized by the Missouri Farm Bureau.<br/>
      Members of the ZAA (Zoological Association of America) and other
      organizations to help improve the animal's care.<br/>
      We do not currently receive any government or donor support.</p>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <img mat-card-image src='http://www.bigjoelsafari.com/uploads/3/4/3/2/34325501/8748003.jpg'>
    <p><b>Our origin story:</b></p>
    <p>
      Before opening the farm to the public, we had been
      working with and raising animals for many years.
      Many of the larger residents have been with us since they were only a few weeks old.
      One of the big camels, "Gus", and "Pumpkin" the bison cow, are some of the oldest residents.
      We have always had a passion for animals. At 6 years old, Joel had his first "exotic" pet,
      a ball python. The passion for animals has only grown from there.</p>
    <p>
      Joel played college football for Mizzou and graduated with a degree in Animal Sciences in 2007.
      It was at Mizzou that Joel met his wife Melissa, "Mimi", who also shared
      a passion for animals. She almost went to school to be a veterinarian,
      but became an occupational therapists instead (Joel has forgiven her).</p>
    <p>
      Joel continued to play professional football for a few
      years after graduation and began to work more intensely with exotic
      animals during the off seasons. Not only at his own farm, but at larger
      facilities owned by close friends. Over the years we kept adding more animals. Friends and
      family enjoyed coming over to see them.</p>
    <p>
      Once the word spread, many people would stop in the driveway to view the animals.
      It was from the encouragement of friends, that we began to plan opening a
      small animal park. Years of learning to care and handle different
      animals helped us create what it is today.</p>
    <p>
      The farm keeps the whole Clinger family
      (mainly Joel's Parents) busy. Big Joel's
      Safari is still mainly run by Family and now with the help of friends.
      We are proud of the animals and of the
      family that have helped us create this one of a kind farm.</p>
    <p>
      We are always expanding and planning new projects.</p>
    <p>
      Thank you for taking the time to learn a little about us,
      the farm, and of course, the animals. We hope to see you soon!</p>

    <p><b>Sincerely,<br />
        <i>Big Joel & Mimi
        </i></b></p>
  </mat-card-content>
</mat-card>
