<mat-card class="dashboard-card">
  <mat-card-content>
    <p><b>
      Live Nativities and Mobile Animal Services!
    </b></p>
    <ul>
      <li>Big Joel's Safari provides Live Nativities during the holiday season.</li>
      <li>The animals have performed at various nativities and productions, including Six Flags Holiday in the Park,
        "The Majesty of Christmas" Live Show, and Harvester Christian Church's "Journey to Bethlehem".</li>
      <li>Upon request, a nativity could include a variety of barn animals, such as:</li>
        <ul>
          <li>Camels</li>
          <li>Donkeys</li>
          <li>Goats</li>
          <li>Sheep</li>
          <li>A Small Cow</li>
          <li>And Sometimes Poultry</li>
        </ul>
    </ul>
    <p><b>Mobile animal services are also available for:</b></p>
    <ul>
      <li>Fairs</li>
      <li>Festivals</li>
      <li>And Other Large Events</li>
    </ul>
    <p><b>Animal Appearances and Rentals:</b></p>
    <ul>
      <li>The animals are available for photo shoots, TV appearances, business promotions, parades, and more.</li>
      <li>They must be accompanied by one of their handlers at all times to ensure their safety.</li>
    </ul>
    <p><b>Availability and options may vary, contact us for more information.</b></p>
    <p><b>Phone:</b> (636) 745-3031</p>
    <p><b>Email:</b><a href="bigjoelsafari@bigjoelsafari.com"> bigjoelsafari@bigjoelsafari.com</a></p>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <p><b>Nick's Barnyard Buddies Mobile Petting Zoo and Pony Rides!</b></p>
    <ul>
      <li>For smaller mobile animal services, contact Nick's Barnyard Buddies!</li>
      <li>Nick and his family offer a mobile petting zoo and pony rides with a variety of
        barnyard critters that serve the St. Louis Area and surrounding areas.</li>
      <li>Nick's Barnyard Buddies provides a custom trailer that allows kids to get
        up close with the animals, while avoiding the mess and set up of a
        traditional petting zoo.</li>
      <li>The trailer is 28' feet long and has vinyl graphics on all sides (it is really cool).</li>
    </ul>
      <p><b>Please contact Nick Wittje of Nick's Barnyard Buddies for more information on pricing and scheduling.</b></p>
      <p><b>Phone:</b> (573) 465-7125</p>
      <p><b>Website:</b><a href="www.nicksbarnyardbuddiesllc.net"> www.nicksbarnyardbuddiesllc.net</a></p>
      <p><b>Facebook:</b></p>
  </mat-card-content>
</mat-card>
