<mat-card class="dashboard-card">
  <mat-card-content>
    <p><b>Big Joel's Safari provides Educational Field Trips for students of
        all ages.</b></p>
      <ul>
        <li>We love to share facts about the animals and the facility.</li>
        <li>Teaching is a tradition in the Clinger family. Both of Big Joel's parents were school teachers.</li>
        <li>Joel has learned a thing or two over the years!</li>
        <li>All students can have the chance to see, touch, and feed many animals up close.</li>
        <li>Carefully read the cancellation policy, rules, guidelines, and tips for a great field trip.
        </li>
      </ul>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <p><b>Field Trips and Pricing:</b></p>
    <ul>
      <li>Field trips are offered throughout most of the season.</li>
      <li>Field trips are not available on weekends.</li>
      <li>Groups of 60+ students/ participants: $5.00 per participant</li>
      <li>Groups smaller than 60 students/participants: $6.00 per participant</li>
      <li>The field trip admission fee includes entry to the park and animal feed.</li>
      <li>​Bus drivers and teachers: FREE</li>
    </ul>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <p><b>Please read all available information on this page regarding educational field trips.</b></p>
    <p><b>All final booking is done by calling the park office at: (636) 745-3031</b></p>
    <p><b>Call right away or email the following information:</b></p>
    <ol>
      <li>Field Trip and School Name in the subject line</li>
      <li>School or Organization’s Name</li>
      <li>Leader's name and direct phone number</li>
      <li>Number of student participants</li>
      <li>Desired date and start time</li>
      <li>Best time to contact</li>
    </ol>
    <button mat-flat-button>reserve here</button><br/>
    <p><b>
        After finalizing the date and start time, there will be a confirmation email with
        additional information regarding the field trip.
    </b></p>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <p><b>Field Trip Format:</b></p>
    <ul>
      <li>
        Before entry, the staff will go over park rules and tips for a fun and safe visit with the entire group.
      </li>
      <li>
        Learn fun facts about the zoo and more during the pressentation.
      </li>
      <li>
        Leaders will be given a map to explore Big Joel's Safari and a bucket of animal feed for the students.
      </li>
      <li>
        Generally having 8-10 students per chaperone works best.
      </li>
      <li>
        Each map is different and starts each group in a different area to avoid overcrowding.
      </li>
      <li>
        Students are given the most interaction with the animal residents.
      </li>
      <li>
        There are many animals and different areas to feed them.
      </li>
      <li>
        Avoid using all of the feed at one spot.
      </li>
      <li>
        There are informational signs about each of animal.
      </li>
      <li>
        C-onsult the staff for further questions.
      </li>
      <li>
        Average journey through the park is 1 hour.
      </li>
      <li>
        Handwash stations are near the front of the park.
      </li>
      <li>
        Additional attractions are not included in the entrance fee.
      </li>
    </ul>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <p><b>Planning Field Trips in Spring and Fall:</b></p>
    <p><b>Thursday and Friday:</b></p>
    <ul>
      <li>Minimum 15 participants required to book a field trip.</li>
      <li>Thursdays and Fridays are reserved for smaller groups.</li>
      <li>Field-trips must be scheduled in advance to avoid overbooking.</li>
      <li>$50.00 non-refundable deposit required.</li>
      <li>Additional attractions are not included in the entrance fee.</li>
      <li>Regular charging rates do apply.</li>
    </ul>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <p><b>Mondays, Tuesdays, and Wednesdays:</b></p>
    <ul>
      <li>Minimum of 60 participants required to book a field trip on days closed to the public.</li>
      <li>Monday thru Wednesday are reserved for the larger groups.</li>
      <li>All fieldtrips must be scheduled in advance to avoid overbooking.</li>
      <li>100.00 non-refundable deposit required.</li>
      <li>Additional attractions are not included in the entrance fee.</li>
      <li>Minimum of 100 participants required to book a field trip when closed to the public.</li>
      <li>$150.00 non-refundable deposit required.</li>
      <li>Additional attractions are not included in the entrance fee.</li>
    </ul>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <p><b>Cancellation and Late Policy: PLEASE READ</b></p>
    <ul>
      <li>Only Big Joel can authorize the cancellation of a field trip due to inclement weather.</li>
      <li>Safety is our fist priority.</li>
      <li>Don't hesitate to reach out if plans change.</li>
      <li>No refunds or reschedulings are available for groups that are 30 minutes late and don't call ahead.</li>
      <li>We will call before cancelling.</li>
      <li>Arrive 15 minutes early.</li>
      <li>Rescheduling is available if necessary depending on the situation.</li>
    </ul>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <p><b>Rules and Guidelines for Educators</b></p>
    <ul>
      <li>Arrive 15 minutes early.</li>
      <li>Refer to the cancellation and late policy.</li>
      <li>GPS may not be reliable in the rural farm area.</li>
      <li>Have written directions handy.</li>
      <li>No Outside Food is allowed in the park.</li>
      <li>Bring water.</li>
      <li>The gift shop may not be open to purchase water depending on the day of field trip.</li>
      <li>The group must pay in one transaction along with a copy of the Tax Exempt form.</li>
      <!-- <li>Group minimums required for booking are strictly enforced.</li> -->
      <li>Refunds are available for absent field-trip individuals that paid in advance.</li>
      <li>The animal feed does not contain "peanut or tree nut" products,
        but may have had contact with equipment that does process nuts.</li>
    </ul>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    ​ <p><b>Rules for Participants and Chaperones</b></p>
    <ul>
      <li>Students are required to stay with chaperones at all times.</li>
      <li>Respect the animals. This means being quiet, calm, and no harassing the animals.</li>
      <li>Follow the direction of all rules, signs, and staff members.</li>
      <li>Only feed animals the food given and please read signs. Many of the animals have special diets.</li>
      <li>Do not throw feed at animals or on the ground because it could make the animals sick.</li>
      <li>Do not run. Walk on designated paths only.</li>
      <li>Please do not litter.</li>
      <li>
        Do not pick up or kick gravel. Anyone caught throwing rocks especially at the animals, will be asked to leave.
      </li>
      <li>Please do not disturb flowers, plants, and free roaming animals.</li>
      <li>Additional attractions are not included in the entrance fee.</li>
      <li>Be courteous and respectful of other visitors.</li>
    </ul>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <p><b>Tips for a great start to the field trip</b></p>
    <ul>
      <li>Please arrive 15 minutes early, or be considered late.</li>
      <li>Communicate schedule changes with the transportation coordinator.</li>
      <li>Please wait to use the restroom, until the end of the introductory presentation.</li>
      <li>Bus drivers and teachers: FREE</li>
      <li>Parents, chaperones, and students pay the same price.</li>
      <li>Groups should contain one chaperone to every 8-10 students.</li>
      <li>8-10 students is ideal for sharing a feed bucket.</li>
      <li>Please share the rules and guidelines with all teachers involved with the field trip.</li>
    </ul>
  </mat-card-content>
</mat-card>
